<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.commune.organizer.communeorganizer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:configChanges="orientation"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:parentActivityName="de.commune.organizer.communeorganizer.login"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen_Activity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".CreateCommune_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".Registration_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".Home_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="DASHBOARD"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:value="de.commune.organizer.communeorganizer.Home_Activity" />

        <activity
            android:name=".CreateJoinCommune_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".EnterCommune_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".CleaningPlan_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Putzplan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserInfo_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Benutzer Infos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommuneInfo_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="WG Infos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".AppInfo_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="App Info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PurchasePlan_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Einkaufsliste"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Aktivitäten"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateActivities_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Aktivität hinzufügen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateCleaningPlan_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Putzplan Eintrag hinzufügen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InhabitantList_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Mitbewohner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RefreshApp_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Daten werden geladen..."
            android:screenOrientation="portrait" />
    </application>
</manifest>